
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"
        integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css"
        integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css"
        integrity="sha512-qzgHTQ60z8RJitD5a28/c47in6WlHGuyRvMusdnuWWBB6fZ0DWG/KyfchGSBlLVeqAz+1LzNq+gGZkCSHnSd3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="{% static 'calendario/imagem/cadastro.png' %}">
    <link rel="stylesheet" href="{% static 'calendario/css/cadastro-style.css' %}">
    

    <title>Cadastro</title>

</head>

<body>
    <header>
        <div class="div_h1">
            <h1 class="class_h1"><i class="fa-solid fa-calendar-days"></i> Cadastro</h1>
        </div>
    </header>

    <aside>
        {% block content %}
            <form action="calendario" method="post">
                <fieldset class="class_fieldset">

                    <label class="class_label a" for="nome_compromisso">Nome do compromisso: </label> <br>
                    <input class="class_input" type="text" id="nome_compromisso" name="nome_compromisso" required
                        placeholder="Adicione o nome do compromisso...">
                    <br> <br>

                    <label class="class_label" for="data_compromisso">Data do compromisso: </label> <br>
                    <input class="class_input" type="date" id="data_compromisso" name="data_compromisso" required
                        placeholder="">
                    <br> <br>

                    <label class="class_label" for="hora_inicio">Hora do inicio: </label> <br>
                    <input class="class_input" type="time" id="hora_inicio" name="hora_inicio" required placeholder="">
                    <br> <br>

                    <label class="class_label" for="hora_termino">Hora do término: </label> <br>
                    <input class="class_input" type="time" id="hora_termino" name="hora_termino" required placeholder="">
                    <br> <br>

                    <label class="class_label" for="local">Local do compromisso: </label> <br>
                    <input class="class_input lado" type="text" id="local" name="local" required
                        placeholder="Informe o local do comprimisso...">
                    <br> <br>

                    <label class="class_label a" style="border: solid 1px red;" for="status" >Selecione o status
                        do compromisso:</label>
                    <select class="class_input" style="width: 16%;" name="status" id="status">

                        <option value="agendado" select>Agendado</option>
                        <option value="realizado">Realizado</option>
                        <option value="cancelado">Cancelado</option>

                    </select>
                    <br> <br>

                    <label class="class_label" for="area">Observações: <a
                            style="font-size: 0.8em; opacity: 80%;">(opcional)</a> </label> <br>
                    <textarea class="class_input" id="message" name="message" rows="10" cols="30"> </textarea> <br> <br>

                            <div class="div_button_enviar">
                                <a href=""><button class="button-enviar" type="submit" title="Enviar">Enviar</button></a>
                            </div>
                    </div>

                </fieldset>
            </form>
        {% endblock content %}
    </aside>

</body>

</html>